.funded-btn {
  font-size: 15px;
  font-weight: 700;
  border: 0.8px solid;
  border-radius: 35px;
  padding: 13px 25px;
  text-decoration: none;
  transition: transform 0.3s ease;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  line-height: 1;
}
.funded-btn:hover {
  transform: scale(1.1);
}
.funded-white-btn {
  color: #111111;
  border-color: #111111;
}
.funded-white-btn:hover {
  color: #8261db;
}

.funded-black-btn {
  background-color: #111111;
  border-color: #111111;
  color: #fff;
}
.funded-black-btn:hover {
  color: #8261db;
}

.funded-purple-btn {
  background-color: #8261db;
  border-color: #8261db;
  color: #fff;
}

.funded-purple-dark-btn {
  background-color: #5137af;
  border-color: #5137af;
  color: #fff;
}
.vh_img_top {
  height: 25px;
}
.bgc-dark {
  background-color: #111111;
  border-radius: 30px;
}
.bgc-dark * {
  color: #fff;
}
.topvideosection {
    position: relative;
    background-color: black;
    height: 80vh;
    min-height: 500px;
    width: 100%;
    overflow: hidden;
  }
  
  .topvideosection video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 180%;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .topvideosection .container {
    position: relative;
    z-index: 2;
  }
  
  .topvideosection .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.1;
    z-index: 1;
  }
  .cwhite,
  .cwhite * {
    color: white;
  }
  .topvideosection h2 {
    font-size: 65px;
    font-weight: 600;
  }
  
  .topvideosection p {
    font-weight: 500;
  }
  .imageRight {
    max-height: 250px;
  }
  .h2, h2 {
    font-size: 45px;
    font-weight: 600;
  }
.singleCard {
  position: relative;
  padding: 3rem;
  max-width: 450px;
  border-radius: 10px;
}
.cardAbsImg {
  position: absolute;
  top: -20px;
  right: -15px;
  max-height: 100px;
}
.cardSingleLogo {
  max-height: 80px;
}
.cardsTitle {
    max-width: 60%;
}
.cardButton {
  text-decoration: none;
  color: #8261db;
}
.singleCardtriple {
  border-radius: 10px;
  padding: 2rem;
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%; 
  min-height: 380px;
  position: relative; 
}
.cardsrowtrip {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.cardsTitleTrip,
.cardText,
.cardButton {
  margin: 0;
}
.cardButton {
  margin-top: auto;
}
.cardText {
  margin-bottom: 1rem;
}
.cardsTitleTrip {
  max-width: 60%;
}
.imgBeforeTitle{
    height: 150px;
    margin-bottom: 2rem;
    object-fit: contain;
}
